<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CheatSheet_Moderate</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>
      <form class="form" action="/" method="POST">
        <div>
          <div class="form__label">Question:</div>
          <textarea
            id="question"
            name="question"
            rows="4"
            cols="80"
            class="form__textarea"
            placeholder="Enter your question here..."
            required
            aria-describedby="questionBack"
          ></textarea>
          <div id="questionBack" class="form__questionBack" aria-live="polite"></div>
        </div>
  
        <div>
          <div class="form__label">Answer:</div>
          <textarea
            id="answer"
            name="answer"
            rows="10"
            cols="80"
            class="form__textarea"
            placeholder="Enter your answer here..."
            required
            aria-describedby="answerBack"
          ></textarea>
          <div id="answerBack" class="form__answerBack" aria-live="polite"></div>
        </div>
  
        <button type="submit" class="form__button">Save</button>
      </form>
    </main>
  </body>
</html>
